<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo EJS</title>
</head>
<body>
  
<h1>olar mundo </h1>
    
<table>
    <%= anime %>
    
    <thead>
        <tr>
            <!-- Substitua 'id' e 'nome' pelos nomes reais das colunas da sua tabela -->
            <th>ID</th>
            <th>Nome</th>
            <th>email</th>
        </tr>
    </thead>
  
</table>

</body>

</html>
